/* custom properties */
:root {
  --ff-primary: "Noto Sans", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(230, 230, 230);
  --clr-dark: rgb(30, 30, 30);
  --clr-dark2: rgb(60, 60, 60);
  --clr-accent: rgb(25, 131, 25);
  --clr-accent2: rgb(80, 80, 120);
  --clr-brown: rgb(138, 62, 0);
  --fs-h1: 2.4rem;
  --fs-h2: 1.6rem;
  --fs-h3: 1.4rem;
  --fs-h4: 1.2rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/* typography */
h1 {
  line-height: 1;
  margin: 0;
  font-size: var(--fs-h1);
}

h2 {
  line-height: 2;
  margin: 0;
  font-size: var(--fs-h2);
}

h3 {
  line-height: 0.5;
  margin: 0;
  font-size: var(--fs-h3);
}

h4 {
  line-height: 0.5;
  margin: 0;
  font-size: var(--fs-h4);
}

body {
  line-height: 1.6;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

/* styles */
section {
  padding: 3em 2em;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* browse assist*/
:focus {
  outline: 3px solid lightblue;
  outline-offset: 2px;
  position: static;
  z-index: 5;
}

html {
  scroll-behavior: smooth;
}

.mb {
  visibility: hidden;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 1rem;
  color: black;
}

.mb::after {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  content: "";
  background: black;
  height: 2px;
  top: 675px;
}


@media (width: 320px) {
  .mb {
    visibility: visible;
  }
}

/* under construction */
#construction {
  background: linear-gradient(to right, blue, red 60%, white 100%);
  background-blend-mode: difference;
  /* border: 0px solid var(--clr-dark);
  border-width: 2px 0; */
  padding: 0;
  margin: 10px 0;
}

h3.construct {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  line-height: 1;
}

/* animations */

/*js habbit-move*/
.habbit-move img.habbit {
  animation: rotation 5s;
}

.habbit-move img.banner {
  animation: movenback 5s;
}

.habbit-move .nav-arrow {
  animation: arrowrotation 5s;
}

/*keyframes*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  50% {
    border-radius: 75px;
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes movenback {
  50% {
    transform: translateX(100px);
    filter: opacity(0);
    border-radius: 50px 10px 50px;
  }
}

@keyframes arrowrotation {
  from {
    transform: rotate(45deg);
  }

  50% {
    background-color: var(--clr-accent);
  }

  to {
    transform: rotate(765deg);
  }
}

@keyframes animateFI {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateFO {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes animateLtn {
  from {
    background: whitesmoke;
    border-color: var(--clr-dark) gray;
    color: gray;
  }

  60% {
    background: orange;
    border-color: rgb(25, 25, 25) rgb(25, 25, 25);
    color: brown;
  }

  80% {
    background: whitesmoke;
    border-color: var(--clr-dark) gray;
    color: gray;
  }

  to {
    background: yellow;
    border-color: rgb(25, 25, 25) rgb(25, 25, 25);
    color: brown;
  }
}

/* nav */
nav.bar {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
}

/*border and positioning*/
ul.nav {
  position: absolute;
  right: 0px;
  display: inline-grid;
  justify-items: right;
  border: 0px solid rgba(100, 100, 100, 0.5);
  border-width: 5px 5px 0 0;
  border-radius: 5px;
  margin: 0;
  padding: 2px;
  row-gap: 2px;
}

ul.nav:hover {
  border: 0px solid var(--clr-accent2);
  border-width: 5px 5px 0 0;
}

/*inside nav boxes*/
li.nav {
  list-style-type: none;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  line-height: 1.2rem;
  padding: 2px 5px;

}

li.nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

li.nav:hover {
  background-color: var(--clr-accent2);
}

/*wiptip*/
.tooltip .wiptip {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: white;
  color: var(--clr-accent2);
  width: 75px;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-family: var(--ff-secondary);
  border-radius: 5px;
  border: 1px solid var(--clr-accent2);
  top: -2px;
  right: 52px;
}

/*tooltip arrow*/
.tooltip .wiptip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border: 6px solid;
  border-color: transparent transparent transparent var(--clr-accent2);
}

.tooltip:hover .wiptip {
  visibility: visible;
  opacity: 1;
  animation-name: animateFI;
  animation-duration: 2s;
}

@media (min-width: 900px) {
  .tooltip .wiptip {
    width: 90px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: 0px;
    right: 62px;
  }
}

/*arrow*/
.arrow {
  border: solid white;
  border-width: 3px 0 0 3px;
  display: inline-block;
  margin: 0 9.2px;
  padding: 5px;
}

.nav-arrow {
  list-style-type: none;
  background-color: rgba(50, 150, 50, 0.5);
  font-size: 1.25em;
  transform: rotate(45deg);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.nav-arrow:hover {
  background-color: var(--clr-accent);
}

@media (min-width: 900px) {
  .nav-arrow {
    font-size: 1em;
  }

  nav.bar {
    height: 175px;
    width: 160px;
  }
}

/*feedback lantern*/
/*hide lantern under 600px width*/
@media (max-width: 600px) {
  #feedback {
    visibility: hidden;
    opacity: 1;
  }
}

/*lantern intial position*/
#feedback {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 4;
  text-decoration: none;
}

/*lantern stand hori*/
div.lantern::before {
  position: absolute;
  z-index: 5;
  bottom: 4px;
  left: -20px;

  content: "";
  display: block;
  background: var(--clr-dark);

  width: 70px;
  height: 12px;
  border-radius: 4px;
}

/*lantern stand vert*/
div.lantern::after {
  position: absolute;
  z-index: 4;
  top: -10px;
  left: 20px;

  content: "";
  display: block;
  background: var(--clr-dark2);
  border: 0px solid var(--clr-dark);
  border-width: 7px 2px 0;
  width: 25px;
  height: 160px;
  border-radius: 3px;
}

/*lantern handle*/
div.lantern {
  position: absolute;
  z-index: 4;
  bottom: 100px;
  right: 15px;

  border: 2px solid var(--clr-dark);
  border-radius: 5px;

  width: 18px;
  height: 20px;
}

/*lantern post*/
a.feedback::after {
  position: absolute;
  z-index: 4;
  bottom: 12px;
  right: 21px;

  content: "";
  display: block;
  background: var(--clr-dark);
  width: 6px;
  height: 95px;
  border-radius: 3px;
}

/*1st dome*/
div.feedback::before {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: 74px;
  right: 2px;
  border: 20px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 20px;
}

/*2nd dome*/
div.feedback::after {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: 56px;
  right: -10px;
  border: 32px solid;
  border-color: transparent transparent var(--clr-dark) transparent;
  border-radius: 20px;
}

/*whole bulb*/
div.feedback {
  position: absolute;
  z-index: 4;
  bottom: 0px;
  right: 0px;

  display: flex;
  background: whitesmoke;
  border-width: 10px 2px;
  border-style: solid;
  border-color: var(--clr-dark) gray;
}

/*twin bulbs*/
span.feedback {
  position: relative;
  z-index: 4;
  display: inline-block;
  writing-mode: vertical-lr;

  text-decoration: none;
  color: gray;
  font-size: 1.4rem;
  line-height: 1rem;
  padding: 3px;
}

/*lantern hover*/
a.feedback:hover {
  background: rgb(25, 25, 25);
}

div.handle {
  border-color: rgb(25, 25, 25);
}

div.feedback:hover::before {
  border-color: transparent transparent rgb(25, 25, 25) transparent;
}

div.feedback:hover {
  transition-delay: 1s;
  background-color: yellow;
  border-color: rgb(25, 25, 25);

  animation-name: animateLtn;
  animation-delay: .8s;
  animation-duration: 1s;
}

span.feedback:hover {
  color: rgb(25, 25, 25);
}

div.feedback:hover::after {
  border-color: transparent transparent rgb(25, 25, 25) transparent;
}

/* fourofour */
#fourofour {
  background: lightcyan;
}

div.fourofour {
  padding: 35px;
}

img.fourofour {
  margin: 0 auto;
  padding: 10px;
  max-width: 180px;
}

h1.fourofour {
  text-align: center;
  color: var(--clr-dark2);
  font-size: 2.2rem;
  line-height: 3rem;
  padding: 5px;
}

h3.fourofour {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: cadetblue;
}

h4.fourofour {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--clr-dark2);
}

div.fourreturn {
  background: red;
  text-align: center;
  max-width: 190px;
  padding: 5px;
  margin: 10px auto;
}

a.fourreturn {
  color: var(--clr-light);
  font-size: 1.1rem;
  text-decoration: none;
}

@media (min-width: 900px) {
  div.fourofour {
    padding: 100px;
  }

  img.fourofour {
    max-width: 200px;
  }

  h1.fourofour {
    font-size: 2.8rem;
  }

  h3.fourofour {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  h4.fourofour {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 10px;
  }

  div.fourreturn {
    max-width: 220px;
  }

  a.fourreturn {
    font-size: 1.3rem;
  }
}

/* logo */
#logo {
  display: flex;
  background-image: linear-gradient(to right, black 5%, white 95%);
  padding: 0px;
  border: 0px solid var(--clr-light);
  border-width: 0 0 15px 0;
}

div.logo {
  display: flex;
  padding: 20px;
  column-gap: 5%;
  min-width: 300px;
  width: 25%;
}

img.habbit {
  border: 4px solid white;
  cursor: pointer;
}

img.banner {
  border: 4px solid var(--clr-accent);
  border-radius: 10px 50px;
}

@media (max-width: 320px) {
  div.logo {
    width: 320px;
    overflow: hidden;
  }
}

div.rbanner {
  display: flex;
  background-image: linear-gradient(to right,
      rgba(174, 174, 174, 1) 0%,
      rgba(255, 255, 255, 0)),
    url(../img/pohutu.jpg);
  background-size: cover;
  background-color: var(--clr-accent);
  background-repeat: no-repeat;
  background-position: 0px;
  margin-left: 50%;
  width: 1000px;
}

/*trees*/
#trees {
  background-image: linear-gradient(to bottom,
      rgb(0, 0, 0, 0.6) 0%,
      rgba(20, 150, 20, 0.8) 100%),
    url(../img/treesbyfootpath.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 180px;
}

h1.trees {
  text-align: center;
  color: white;
  padding: 80px 0;
  font-family: var(--ff-secondary);
}

@media (min-width: 900px) {
  #trees {
    height: 770px;
  }

  h1.trees {
    text-align: center;
    color: white;
    padding: 245px;
    font-family: var(--ff-secondary);
  }
}

/*resources*/
section.resources {
  background: linear-gradient(to bottom, rgb(98, 156, 23) 30%, rgba(0, 100, 0, 0));
  padding: 40px 0;
}

h1.resources {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
}

/*subject div of resources*/
div.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

div.subject img {
  width: 130px;
}

li.subject a {
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
}

/*offset padding added in li.subject a*/
ul.subject {
  padding: 0;
}

/*specify li only*/
li.subject .topic a {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: var(--fw-reg);
  border: 1px solid white;
}

li.subject .fundamentals a {
  text-align: start;
  width: 220px;
}

li.subject .aws a {
  text-align: start;
  width: 148px;
}

/*subject headings*/
ul.subject li.subject {
  display: inline-block;
  font-weight: var(--fw-reg);
  font-family: var(--ff-secondary);
  line-height: 1.6rem;
  border-radius: 5px;
}

ul.subject li.subject:hover {
  background: var(--clr-accent);
}

/*tooltip*/
.tooltip .awstip {
  background-color: white;
  color: black;
  width: 80px;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1rem;
  font-family: var(--ff-secondary);
  text-align: center;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 4;
  top: 0px;
  left: 78px;
}

/*tooltip arrow*/
.tooltip .awstip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.tooltip:hover .awstip {
  visibility: visible;
  opacity: 1;
  animation-name: animateFI;
  animation-duration: 2s;
}

@media (min-width: 900px) {
  .tooltip .awstip {
    width: 110px;
    font-size: 1.2rem;
    top: 0px;
    left: 85px;
  }
}

/*reveal dropdown on hover*/
ul.subject li.subject ul.subject {
  position: absolute;
  width: 160px;
  display: none;
}

ul.subject li.subject:hover ul.subject {
  display: block;
}

ul.subject li.subject ul.subject li.subject {
  background: black;
}

ul.subject li.subject ul.subject li.subject:hover {
  background: var(--clr-dark2);
}

@media (min-width: 900px) {
  section.resources {
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    top: 600px;
    width: 70%;
    margin: 0 0 0 15%;
    padding: 10px 0;
    border-radius: 30px;
  }

  div.subject-grps {
    display: flex;
    justify-content: space-around;
  }

  div.subject {
    position: relative;
    width: 170px;
    height: 130px;
    margin: 0;
  }

  div.subject img {
    position: absolute;
    bottom: 120px;
    width: 100%;
    margin: auto auto;
  }

  ul.subject li.subject ul.subject {
    position: absolute;
    width: 260px;
    display: none;
  }

  /*subject heading*/
  li.subject a {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
  }

  /*subject li*/
  li.subject .topic a {
    text-align: start;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--fw-reg);
  }

  li.subject .fundamentals a {
    width: 260px;
  }

  li.subject .aws a {
    text-align: start;
    width: 250px;
  }
}

/*flowers1*/
#flowers1 {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 900px) {
  #flowers1 {
    visibility: visible;
    opacity: 0.7;
    background-image: url(../img/flowersbed.jpg);
    background-position-y: 490px;
    background-size: cover;
    filter: grayscale(100%);
    height: 210px;
    border: 0px solid lightgray;
    border-width: 20px 0 0;
  }
}

/*wip*/
#wip {
  display: grid;
  position: relative;
  background: var(--clr-dark2);
  transition-delay: 2s;
  transition-duration: 1.5s;
}

/*overlap visible and hidden div*/
#walkin,
#hiddenwip {
  grid-column: 1;
  grid-row: 1;
}

/*div wip elements*/
#walkin {
  opacity: 1;
  transition-delay: 2s;
  transition-duration: 1.5s;
  z-index: 1;
}

h1.walkin {
  color: white;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 2.4rem;
  margin: 40px 0;
}

h1.walkin::after {
  content: "";
  display: block;
  background: white;
  max-width: 150px;
  height: 2px;
  margin: 0 auto 70px;
}

img.walkin {
  width: 215px;
  cursor: wait;
  border: 7px solid transparent;
  margin: 10px auto;
  transition-duration: 6s;
}

img.walkin:hover {
  border: 7px solid slategray;
  transition-duration: 6s;
}

h2.walkin {
  text-align: center;
  text-shadow: 5px 0 black;
  font-family: var(--ff-secondary);
  letter-spacing: 2px;
  color: white;
  transition-duration: 6s;
}

/*hidden wip*/
#hiddenwip {
  opacity: 0;
  transition-delay: 2s;
  transition-duration: 1.5s;
  z-index: 0;
}

#backend {
  margin: 0 0 -20px 0;
}

h1.progress {
  color: white;
  text-align: center;
  font-size: 2.4rem;
  font-family: var(--ff-secondary);
  grid-area: h1;
  margin: 40px 0;
}

h1.progress::after {
  content: "";
  display: block;
  background: white;
  max-width: 150px;
  height: 2px;
  margin: 0 auto 50px;
}

div.restrict {
  display: flex;
  height: 145px;
  width: 200px;
  overflow: hidden;
  margin: 40px auto 30px;
}

#certbot-eff {
  display: block;
  text-decoration: none;
  color: red;
  text-align: center;
  margin: -50px auto 20px;
}

img.progress {
  width: 200px;
  align-items: center;
}

img.progress:hover {
  transform: scale(1.2);
  transition: 2s;
}

h3.progress {
  text-align: center;
  color: var(--clr-light);
}

p.progress {
  text-align: center;
  color: var(--clr-light);
}

@media (min-width: 900px) {
  #wip {
    border-width: 30px 0;
  }

  /*walkin*/
  h1.walkin,
  h1.progress {
    font-size: 2.75rem;
    margin-bottom: 90px;
  }

  h1.walkin::after,
  h1.progress::after {
    max-width: 350px;
    margin: 0 auto;
  }

  img.walkin {
    width: 280px;
    margin: 0 auto;
    border: 12px solid transparent;
  }

  img.walkin:hover {
    border: 12px solid slategray;
    transition-duration: 6s;
  }

  /*hiddenwip*/
  #hiddenwip {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 130px auto auto;
    grid-template-areas: "h1 h1"
      "staticsite backend"
      "certgendocker other";
    margin-bottom: 25px;
    padding: 0 50px;
  }

  #static {
    grid-area: staticsite;
    background: var(--clr-light);
    padding: 0 0 0 25px;
    margin: 5px;
  }

  #backend {
    grid-area: backend;
    background: var(--clr-light);
    padding: 0 25px 0 0;
    margin: 5px;
  }

  #other {
    grid-area: other;
    background: var(--clr-light);
    padding: 0 25px 0 0;
    margin: 5px;
  }

  #certgen {
    position: relative;
    grid-area: certgendocker;
    background: var(--clr-light);
    padding: 0 0 0 25px;
    margin: 5px;
  }

  div.static,
  div.certbot {
    float: right;
  }

  div.backend,
  div.other {
    float: left;
  }

  #certbot-eff {
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 80%;
    margin: 0;
    padding: 0;
  }

  div.restrict {
    height: 200px;
    width: 300px;
    padding: 0;
    margin: 25px;
  }

  img.progress {
    width: 300px;
  }

  h1.progress {
    color: var(--clr-light);
  }

  h3.progress {
    color: lightslategray;
    margin-top: 20px;
  }

  p.progress {
    color: lightslategray;
    text-align: justify;
  }
}

/*flowers2*/
#flowers2 {
  opacity: 0.8;
  z-index: 1;
  background-image: url(../img/flowersbed.jpg);
  background-position: 0;
  background-size: cover;
  filter: grayscale(50%);
  height: 450px;
  margin-top: -450px;
  transition-duration: 5s;
}

@media (min-width: 900px) {
  #flowers2 {
    visibility: hidden;
    opacity: 0;
  }
}

/*sunset*/
#sunset {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 900px) {
  #sunset {
    visibility: visible;
    opacity: 1;
    background-image: url(../img/bridge.jpg);
    background-position: 0 56%;
    filter: grayscale(100%);
    height: 185px;
    opacity: 0.8;
    background-size: cover;
    border: 0px solid var(--clr-dark);
    border-width: 30px 0 0 0;
    margin: 0 0 0 0;
  }
}

/*han*/
#han {
  color: var(--clr-dark);
}

h1.han {
  font-weight: var(--fw-bold);
}

h4.han {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-reg);
  line-height: 1.8rem;
  padding-top: 20px;
}

p.han {
  text-align: center;
}

img.han {
  max-width: 200px;
  margin: 25px auto;
  box-shadow: var(--bs);
}

@media (min-width: 900px) {
  div.han {
    max-width: 1000px;
    margin: 0 auto;
  }

  p.han {
    text-align: start;
    padding: 30px 0;
    margin: 0;
  }

  img.han {
    float: right;
    margin: -55px 20px 0px;
  }
}

/* contact */
#contact {
  background: var(--clr-dark2);
  margin: 0;
  padding: 20px;
}

div.contact {
  margin: 0 auto;
  max-width: 1000px;
}

a.email {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
}

a.email:hover {
  background: var(--clr-accent2);
}

#email {
  width: 50px;
  height: 100%;
  padding: 0 10px 0 0;
  filter: invert(100%);
}

h3.email {
  margin: auto 0;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
}

#github {
  max-width: 50px;
  filter: invert(100%);
}

#github:hover {
  filter: invert(2%);
}

#linkedin,
#youtube {
  max-width: 50px;
  filter: invert(100%);
}

#linkedin:hover,
#youtube:hover {
  filter: invert(10%);
}

ul.contact {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

li.contact {
  list-style-type: none;
}

@media (min-width: 900px) {
  h2.contact {
    text-align: center;
  }

  div.contact {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  a.email {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 5px;
    margin: 0;
    border-radius: 8px;
  }

  a.email:hover {
    background: var(--clr-accent2);
  }

  #email {
    width: 70px;
    height: 100%;
    padding-right: 15px;
    filter: invert(100%);
  }

  h3.email {
    margin: auto 0;
    font-family: var(--ff-secondary);
    color: var(--clr-light);
  }

  #github,
  #linkedin,
  #youtube {
    max-width: 60px;
    filter: invert(100%);
    margin: 0 20px;
  }

  #github:hover {
    filter: invert(2%);
  }

  #linkedin:hover,
  #youtube:hover {
    filter: invert(10%);
  }

  ul.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}

/* footer */
#footer {
  height: 30px;
  position: relative;
  background: lightslategray;
  z-index: 0;
}

h4.footer {
  position: absolute;
  bottom: 10px;
  right: 38px;
  font-weight: var(--fw-reg);
  color: white;
}

/***********************************************************************************************************/
/* resfrontend */
#resindex {
  background-image: linear-gradient(to bottom,
      rgb(0, 0, 0, 0.6) 0%,
      rgba(170, 112, 5, 0.8) 100%),
    url(../img/treebyhouse.jpg);
  background-size: cover;
  background-position-x: -100px;
  background-attachment: fixed;
  height: 550px;
}

div.resindex {
  background-color: var(--clr-light);
  max-width: 400px;
  margin: 85px auto 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

div.reswrapper {
  display: flex;
  justify-content: center;
}

img.resindex {
  margin: 0 auto 3px;
  width: 400px;
}

div.resstatic {
  margin: auto 0px;
}

a.resstatic {
  text-decoration: none;
}

h4.resstatic {
  display: inline-block;
  background: var(--clr-dark2);
  color: var(--clr-light);
  line-height: 2rem;
  padding: 0 10px;
  margin: 2px 0;
  font-family: var(--ff-secondary);
}

h4.resstatic:hover {
  background: var(--clr-dark);
}

div.ressocial {
  display: flex;
  margin: auto 0;
}

@media (max-width: 450px) {
  div.reswrapper {
    margin: auto 50px;
  }

  .res-github,
  .res-youtube {
    width: 35px;
  }
}

.res-github {
  opacity: 90%;
  max-width: 40px;
  margin: 0 3px;
}

.res-youtube {
  opacity: 85%;
  max-width: 40px;
  margin: 0 3px;
}

.res-github:hover,
.res-youtube:hover {
  opacity: 100%;
}

p.resindex {
  background: var(--clr-light);
  text-align: center;
  padding: 0 20px 5px;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 0 0 10px 10px;
}

/* html */

#html {
  background: var(--clr-light);
  border: 0px solid var(--clr-brown);
  border-width: 30px 0;
  padding: 20px;
}

#reshtml {
  max-width: 200px;
  background: lightgrey;
  margin: 0 auto;
}

div.reshtml {
  display: inline-flex;
  padding: 0px 20px;
  border: 5px solid var(--clr-dark);
}

a.reshtml {
  text-decoration: none;
}

h3.reshtml {
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--clr-dark);
  margin: auto 0;
  font-family: var(--ff-secondary);
}

@media (max-width: 450px) {

  h3.reshtml {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin: 0 auto;
  }

  #reshtml {
    max-width: 170px;
  }

  div.reshtml {
    padding: 0px 15px;
    border-width: 4px;
  }
}

/* sitebackend */
/*
.sitebackend__title {
  text-align: center;
}

.sitebackend__blog {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}*/

/* .resourcesbackend */

.resourcesbackend__background {
  background-color: grey;
  background-image: url(../img/treesbyfootpath.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  max-height: 350px;
}

.resourcesbackend__logo {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.resourcesbackend__caption {
  color: lightblue;
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  font-size: 2em;
  text-align: center;
  margin: auto;
}

/* express */

.express__title {
  text-align: center;
}

.express__blog {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* site frontend */

.sfe-nav__bar {
  position: fixed;
  top: -18px;
  right: 2px;
  z-index: 4;
  width: 100px;
}

.sfe-titlepage__section {
  padding: 0;
}

.sfe-titlepage__div {
  background-color: var(blue);
  border: 0px solid var(--clr-light);
  border-width: 10px 0 10px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 275px;
}

.sfe-titlepage__services {
  margin-top: 175px;
  margin-left: 35px;
}

.sfe-titlepage__title {
  color: var(--clr-light2);
  font-size: 1.75rem;
  line-height: 0;
}

.sfe-titlepage__subtitle {
  color: var(--clr-light2);
  font-size: 1.5rem;
  line-height: 1;
  padding-right: 20px;
}

.sfe-titlepage__background {
  background-image: linear-gradient(to right,
      rgba(0, 0, 205, 1) 5%,
      rgba(255, 255, 255, 1)),
    url("../img/streetopening.jpg");
  background-size: cover;
  background-position: 0px;

  background-blend-mode: multiply;
  height: 255px;

  border: 0px solid var(--clr-light);
  border-width: 0 0 0 5px;
}

.sfe-logo__background {
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

.sfe-logo__holder {
  background-image: linear-gradient(lightblue 1%, var(--clr-light));
  padding-top: 20px;

  min-width: 200px;
  border: 5px solid var(--clr-dark);
  border-radius: 10px;
}

.sfe-logo__img {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 170px;
}

.sfe-logo__text {
  text-align: center;
  min-width: 170px;
}

.sfe-logo__title {
  background-color: var(--clr-light);
  line-height: 1.5;
  font-size: 1.5rem;
  width: 20%;
  min-width: 170px;

  text-align: center;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  color: var(--clr-dark);
  border: 5px solid var(--clr-dark);
}

.sfe-github__link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  height: 35px;
  max-width: 230px;
  background-color: lightgrey;
  border: 1px solid var(--clr-dark);
}

.sfe-github__desc {
  line-height: 0;
  font-size: 1.1rem;
  font-family: var(--ff-secondary);
  letter-spacing: 2px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-darkgrey);
  position: relative;
}

.sfe-github__desc:hover,
.sfe-github__link:hover {
  background-color: var(--clr-light);
}

.sfe-logo__body {
  background-color: var(--clr-light);
  max-width: 600px;
  border: 2px solid var(--clr-dark);
  border-radius: 10px;

  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.sfe-html__background {
  background-color: lightgrey;
  background-size: cover;
  border: 5px solid grey;
  padding: 20px;
  padding-left: 15px;
}

.rating__section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pro-cir {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-forestgreen);

  position: relative;
  z-index: 0;
  margin-left: -28px;
  margin-top: 4px;
}

.pro__title {
  line-height: 1;
  margin-left: 12px;
  margin-bottom: 8px;
  font-size: 1.6rem;
  color: var(--clr-darkgrey);
}

.pro__ul {
  content: "";
  display: block;
  max-width: 300px;
  height: 3px;
  margin: auto;
  background: var(--clr-limegreen);
  margin-bottom: 10px;
}

.con-tri {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid red;

  position: relative;
  z-index: 0;
  margin-top: 2px;
}

.con__title {
  line-height: 1;
  margin-left: 12px;
  margin-bottom: 8px;
  font-size: 1.6rem;
  color: grey;
}

.con__ul {
  content: "";
  display: block;
  max-width: 410px;
  height: 3px;
  margin: auto;
  background: orange;
  margin-bottom: 10px;
}

.sfe-html__body {
  margin-top: 5px;
}

.sfe-css__background {
  background-color: var(--clr-paleaqua);
  background-size: cover;
  border: 5px solid var(--clr-dodgerblue);
  padding: 40px;
}

.sfe-javascript__background {
  background-color: lightgreen;
  background-size: cover;
  border: 5px solid green;
  padding: 40px;
}

.html__gap {
  margin-top: 50px;
}

h3.side-page {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 0.8rem;
  font-family: var(--ff-secondary);
}

h3.side-section {
  display: inline-block;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  font-size: 1.4rem;
  line-height: 0.5;
  background-color: lightgray;
  padding: 8px;
  border: 2px solid darkblue;
  border-radius: 5px;
  box-shadow: 1px 1px;
}

.section__restrict {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.section__title {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.codebox {
  display: block;
  font-family: var(--ff-secondary);
  padding: 12px 12px;
  background-color: var(--clr-light);
  border: 0px solid var(--clr-dark);
  border-width: 2px 2px 2px 8px;
}

/* codebox coloured text */
.codeblue {
  color: darkblue;
}

.codebrown {
  color: var(--clr-brown);
}

.codegreen {
  color: darkgreen;
}

.codebox__margin0 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.codebox__margin1 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.codebox__margin2 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 80px;
}

.codebox__margin3 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 120px;
}

.codebox__margin4 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 160px;
}

.codebox__margin5 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 200px;
}

/*
@media (max-width: 900px) {
  .sfe-github__link {
    height: 34px;
    max-width: 182px;
  }

  .sfe-github__desc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 0.8rem;
  }

  .sfe-logo__title {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .sfe-html__background {
    padding: 40px;
  }

  .sfe-titlepage__title {
    font-size: 2rem;
  }

  .sfe-titlepage__subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 580px) {
  .sfe-titlepage__services {
    margin-top: 150px;
    width: 200px;
  }

  .sfe-github__desc {
    font-size: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sfe-titlepage__title {
    height: 40px;
    font-size: 1.5rem;
    line-height: 1;
  }

  .sfe-titlepage__subtitle {
    font-size: 1.25rem;
  }
}*/

/* spoilers */

#spoil-btn1 {
  color: grey;
  background: lightgrey;
  border: 0px solid grey;
  border-width: 2px 2px 2px 8px;
  font-family: (var(--ff-secondary));
  position: relative;
  margin: 0px 0px;
  line-height: 0.5;
}

#spoil-btn1:hover {
  background: lightgrey;
  cursor: pointer;
}

#spoil-btn2 {
  color: var(--clr-brown);
  background: orange;
  border: 0px solid var(--clr-brown);
  border-width: 2px 2px 2px 8px;
  font-family: (var(--ff-secondary));
  position: relative;
  line-height: 0.5;
}

#spoil-btn2:hover {
  background: var(--clr-darkorange);
  cursor: pointer;
}

#spoil-btn3 {
  color: var(--clr-dodgerblue);
  background: var(--clr-paleaqua);
  border: 0px solid var(--clr-dodgerblue);
  border-width: 2px 2px 2px 8px;
  font-family: (var(--ff-secondary));
  position: relative;
  line-height: 0.5;
}

#spoil-btn3:hover {
  background: var(--clr-skyblue);
  cursor: pointer;
}

#spoil-btna {
  color: var(--clr-forestgreen);
  background: var(--clr-light);
  border: 3px solid var(--clr-forestgreen);
  border-radius: 10px;
  font-family: (var(--ff-secondary));
  font-size: 1.4rem;
  position: relative;
}

#spoil-btna:hover {
  background: var(--clr-forestgreen);
  color: var(--clr-light);
  cursor: pointer;
}

#spoil-btnb {
  color: var(--clr-copper);
  background: var(--clr-light);
  border: 3px solid var(--clr-copper);
  border-radius: 10px;
  font-family: (var(--ff-secondary));
  font-size: 1.4rem;
  position: relative;
}

#spoil-btnb:hover {
  background: var(--clr-copper);
  color: var(--clr-light);
  cursor: pointer;
}

#spoil-move1,
#spoil-move2,
#spoil-move3,
#spoil-movea,
#spoil-moveb {
  transition: opacity 0.5 ease-in-out;
}

.hide-res1,
.hide-res2,
.hide-res3,
.hide-sfea,
.hide-sfeb {
  height: 0;
  opacity: 0;
}

.reveal-res1,
.reveal-res2,
.reveal-res3,
.reveal-sfea,
.reveal-sfeb {
  height: 100%;
  opacity: 1;
}